/** Fonts */

@font-face {
    font-family: 'Mozilla Headline';
    src: url( ./MozillaHeadline.woff2 ) format( 'woff2' );
}

/** Global */

:root {
    --font: 'Mozilla Headline', sans-serif;
    --text: #212121;
    --bg: #fefefe;
    --gray: #6b7280;
    --light: #f6f8fa;
    --primary: #0057ff;
    --accent: #ffb800;
    --shadow: 6px 6px 0 var( --accent );
    --border: 1px solid var( --text );
    --dashed: 1px dashed var( --gray );
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'kern';
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    -ms-overflow-style: none;
    cursor: default;
    outline: 0 none;
    scrollbar-width: none;
}

::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    text-underline-offset: 16%;
    font-family: var( --font );
    font-size: 1.2rem;
    color: var( --text );
    background: var( --bg );
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a, a:link, a:visited, a:hover {
    text-decoration: underline;
    color: var( --primary );
    cursor: pointer;
}

/** Icons */

.icon {
    display: inline-block;
    width: 48px;
    height: 48px;
}

.icon.btc {
    background: url( ./icons/btc.svg );
}

.icon.coins {
    background: url( ./icons/coins.svg );
}

.icon.diamond {
    background: url( ./icons/diamond.svg );
}

.icon.gold {
    background: url( ./icons/gold.svg );
}

.icon.money {
    background: url( ./icons/money.svg );
}

.icon.oil {
    background: url( ./icons/oil.svg );
}

.icon.safe {
    background: url( ./icons/safe.svg );
}

.icon.savings {
    background: url( ./icons/savings.svg );
}

.icon.share {
    background: url( ./icons/share.svg );
}

.icon.wallet {
    background: url( ./icons/wallet.svg );
}

.icon.work {
    background: url( ./icons/work.svg );
}

.icon.world {
    background: url( ./icons/world.svg );
}

/** Box */

.box {
    width: 100%;
    padding: 1.4rem 1.8rem;
    background: var( --bg );
    border: var( --border );
    box-shadow: var( --shadow );
}

/** Header */

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
    gap: 1rem;
    margin: 2.8rem;
    letter-spacing: -0.02rem;
}

header h1 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 900;
}

header p {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 100;
    color: var( --gray );
}

/** Main */

main {
    margin: 2rem;
}

h2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.4rem;
    margin: 2.8rem 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 100;
    color: var( --gray );
}

h2 hr {
    flex: 1;
    border: 0;
    border-bottom: var( --dashed );
}

/** Grid */

.grid {
    column-count: 2;
    column-gap: 2rem;
    margin: 4rem 0;
}

.grid .item {
    break-inside: avoid;
    margin-bottom: 2rem;
}

.grid .item h3 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.2rem;
    margin: 0 0 1.4rem;
    font-size: 1.4rem;
    color: var( --primary );
}

.grid .item p {
    margin: 1.4rem 0;
    line-height: 1.4;
    font-size: 1.1rem;
}

.grid .item ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid .item ul li {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 1rem;
}

.grid .item ul li:not( :last-child ) {
    margin-bottom: 1rem;
    padding-bottom: 0.4rem;
    border-bottom: var( --dashed );
}

.grid .item ul li label {
    flex: 1;
    font-weight: 100;
}

.grid .item ul li b {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 0.02rem;
}

/** Input Form */

.form .box {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.2rem;
}

.form input {
    flex: 1;
    padding: 0.8rem 1.2rem;
    text-align: right;
    font-family: var( --font );
    font-size: 1.4rem;
    font-weight: 700;
    color: var( --text );
    background: var( --light );
    border: 0;
    cursor: text;
}

/** Footer */

footer {
    margin: 2.8rem;
    font-size: 1rem;
    text-align: center;
}
